footer{
	float: left;
	display: inline;
	margin-right: 500px;
	background-color: below;
	}
fieldset{
	width: 375px;
	float: left;
	float: right;
	}
img{
	width: 250px; height: 250px;
	}
ul li{
	float: left;
	display: inline;
	margin-right: 200px;
}
.online{
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
:link:hover{
	background: gold;
}
body{
	background: green;
}
header { 
	background-color: blue; 
}
h2{
	float: left;
	width: 500px;
}