footer{
	float: left;
	display: inline;
	margin-right: 75px;
	background-color: below;
	}
fieldset{
	width: 375px;
	float: left;
	float: right;
	}
img{
	width: 250px; height: 250px;
	}
ul li{
	float: left;
	display: inline;
	margin-right: 200px;
}
.online{
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.online:hover{
	background: green;
}
:link:hover{
	background: gold;
}
body{
	background-color: lightyellow;
}
header { 
	background-color: lightgreen; 
}
h1{
	float: left;
	width: 350px;
}
aside img{
	width: 100px; height: 80px;
}
figure{
	float: left;
	display: inline;
	width: 350px;
}
header fieldset legend form{
	float; right:
	width; 100px:
}